@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700&family=Zen+Old+Mincho:wght@400;700;900&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&display=swap");

/* reset css */
:root {
  --transition: 0.4s;
  --timing: cubic-bezier(0.42, 0.21, 0.2, 0.9);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

code {
  font-family: SFMono, Consolas, Menlo, Monaco;
  letter-spacing: 0.018em;
  line-height: 1.68em;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border: none;
}

textarea {
  resize: none;
}

input,
button,
textarea:focus {
  outline: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

* {
  box-sizing: border-box;
  transition: all var(--transition) width 0s height 0s padding 0s margin 0s;
  transition-timing-function: var(--timing);
}
